body, h1, h2, p, ul, nav, footer {
  margin: 0;
  padding: 0 ;
}
body {
  font-family: Arail, sans-serif;
  background-color: #f8f8f8;
}
nav {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 40px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
